@import url(./vars.css);

body
{
    height: 100%;
    font-family: sans-serif;
}

body>h1
{
    padding: 8px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-principal-texto);
    text-align: center;
    align-self: stretch;
    background-color: var(--cor-principal-fundo);
}

.flex-row
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.flex-column
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.outer-frame
{
    height: calc(100vh - 88px - 2rem);
    width: 85%;
    box-shadow: 0px 3px 6px var(--cor-sombra);
    border-radius: 16px;
    margin: 32px;
    background-color: var(--cor-fundo-vazio);
    overflow: hidden;
    align-self: center;
}

.chat-list,.chat-messages
{
    height: 100%;
    align-items: stretch;
}
.chat-list
{
    width: 30%;
    border-right: 2px solid var(--cor-divisor);
}
.chat-messages
{
    width: 70%;
    overflow: hidden;
}

.outer-frame>.flex-column>h2
{
    background-color: var(--cor-principal-fundo);
    font-size: 1.25rem;
    color: var(--cor-principal-texto);
    padding: 8px;
}

.users,.messages
{
    overflow-y: auto;
    flex-grow: 1;
}
.users
{
    align-items: stretch;
}
.messages
{
    background-color: var(--cor-secundario-fundo);
    padding: 16px;
}

.message
{
    max-width: 55%;
    border-radius: 8px;
    background-color: var(--cor-secundario-alternativo-1);
    margin: 2px 8px;
    padding: 12px;
    transition: 0.25s background-color;
    line-height: 1.25em;
}
.message:hover
{
    background-color: var(--cor-sombra);
}
.sent
{
    align-self: flex-end;
    background-color: var(--cor-principal-fundo);
    color: white;
}
.sent:hover
{
    background-color: var(--cor-principal-alternativo-2);
}

.message-fields
{
    padding: 8px;
    background-color: var(--cor-principal-fundo);
    align-items: center;
}

.message-input
{
    align-self: stretch;
    resize: none;
    font-family: sans-serif;
    border: none;
    border-radius: 8px;
    padding: 8px;
    flex-grow: 1;
}

.send-message
{
    padding: 0px 8px;
    border-radius: 8px;
    border: none;
    margin: 2px;
    margin-left: 8px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 48px;
    transition: 0.15s background-color;
    background-color: var(--cor-secundario-fundo);
}
.send-message:hover
{
    background-color: var(--cor-secundario-alternativo-1);
}
.send-message:active
{
    background-color: var(--cor-secundario-alternativo-2);
}

.user h3
{
    font-size: 1.15em;
}
.user
{
    padding: 8px;
    line-height: 1.5em;
    background-color: var(--cor-secundario-fundo);
    border-bottom: 1px solid var(--cor-divisor);
    transition: 0.15s background-color, 0.15s color;
    align-items: center;
    justify-content: space-between;
}
.user.selected
{
    background-color: var(--cor-principal-alternativo-2);
    color: white;
}
.user:hover
{
    background-color: var(--cor-principal-alternativo-1);
    color: black;
}
.user.selected .you
{
    color: var(--cor-secundario-alternativo-1);
}
.user.selected:hover .you
{
    color: var(--cor-secundario-alternativo-2);
}
.you
{
    color: var(--cor-secundario-alternativo-2);
    transition: 0.15s color;
}

.badge
{
    width: 32px;
    height: 32px;
    background-color: var(--cor-principal-fundo);
    color: var(--cor-principal-texto);
    border-radius: 50%;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    font-size: 0.75em;
}

.seen
{
    display: none;
}

.loading
{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.75em;
    color: var(--cor-principal-fundo);
    
    height: 100%;
}